body, html {
    color: #fff;
    background-color: #fff;
    font-size: 16px;
    font-family: "montserrat", sans-serif;
}
.container {
    max-width: 1440px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
    overflow: visible;
}
.header {
    background: linear-gradient(180deg, #232228E8 11.98%, rgba(35, 34, 40, 0.91) 51.04%, #232228E8 92.19%), url(./../../img/fon.jpg) 100% / 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    max-height: 680px;
}
.header__wrapper {
    height: 68px;
    width: 100%;
}
@keyframes list-move1 {
    0% {
        top: -240px;
    }
    100% {
        top: -225px;
    }
}
@keyframes list-move2 {
    0% {
        top: -390px;
    }
    100% {
        top: -375px;
        
    }
}
@keyframes list-move3 {
    0% {
        top: -460px;
    }
    100% {
        top: -452px;
    }
}